In [1]:
import pandas as pd

# Задание 1

**Во всех тестах принимаем уровень значимости 0.05**

In [2]:
games = pd.read_csv('C:\\Users\\roman\\Learning\\PYDA13\\data\\video_games_sales.csv')

In [3]:
games

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,55788,Indivisible,indivisible,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224682/indivisibl...,1,NaN,/games/boxart/full_6339426AmericaFrontccc.jpg
55788,55789,Lost Ember,lost-amber,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/games/game.php?id=2246...,1,NaN,/games/boxart/full_8893129AmericaFrontccc.jpg
55789,55790,Lost Ember,lost-amber,Adventure,RP,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224690/lost-ember...,1,NaN,/games/boxart/full_6514293AmericaFrontccc.jpg
55790,55791,Lost Ember,lost-amber,Adventure,RP,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224688/lost-ember...,1,NaN,/games/boxart/full_6799693AmericaFrontccc.jpg
55791,55792,Falcon Age,falcon-age,Action-Adventure,NaN,PS4,Unknown,Outerloop Games,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12th Apr 19,http://www.vgchartz.com/game/224692/falcon-age...,1,NaN,/games/boxart/default.jpg

## Вопрос 1
**Как критики относятся к спортивным играм?**

In [4]:
sports_score = games[(games['Genre'] == 'Sports')&(games['Critic_Score'].notnull() == True)][['Critic_Score']]
sports_score.describe()

       Critic_Score
count    688.000000
mean       7.291424
std        1.470802
min        1.400000
25%        6.500000
50%        7.600000
75%        8.300000
max        9.700000

H0: критики высоко оценивают спортивные игры, ставя оценки больше 8  
H1: средняя оценка критиков меньше 8

Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий.

Тест нужен односторонний, т.к. нас интересует только неравенство в меньшую сторону.

In [5]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(sports_score, 8)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее меньше 8')
else:
    print('Не отвергаем нулевую нулевую гипотезу, критики действительно ставят высокие оценки')

Ttest_1sampResult(statistic=array([-12.63647878]), pvalue=array([4.63255611e-33]))
Отвергаем нулевую гипотезу, среднее меньше 8

**Вывод:** Отвергаем нулевую гипотезу, результаты теста статистически значимы и средние оценики критиков оказались ниже 8

## Вопрос 2
**Критикам нравятся больше игры на PC или на PS4?**

In [6]:
pc_or_ps = games[(games['Platform'].isin(['PC', 'PS4']))&(games['Critic_Score'].notnull() == True)][['Platform','Critic_Score']]
pc_or_ps

      Platform  Critic_Score
9           PC          10.0
20         PS4           9.7
36          PC           9.3
45         PS4           9.8
50         PS4           8.0
...        ...           ...
54811       PC           8.0
54915       PC           8.3
55090       PC           7.2
55313       PC           8.5
55653      PS4           8.0

[974 rows x 2 columns]

H0: Критики одинаково относятся к играм на pc и ps  
H1: У критиков есть предпочтения

Применяем двухсторонний двухвыборочный тест

In [7]:
result = st.ttest_ind(pc_or_ps[pc_or_ps['Platform'] == 'PC']['Critic_Score'], pc_or_ps[pc_or_ps['Platform'] == 'PS4']['Critic_Score'], equal_var = False)
print(result)

if (result.pvalue < alpha):
    
    if(result.statistic < 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают PS4')
        
    elif(result.statistic > 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают PC')
else:
    print('Не отвергаем нулевую гипотезу, критики однаково относятся к играм на PS и PC')

Ttest_indResult(statistic=-2.7394476056351627, pvalue=0.006931808250254211)
Отвергаем нулевую гипотезу, критики предпочитают PS4

**Вывод:** Значение p-value позволяет нам отклонить нулевую гипотезу, по значению statistic смотрим кому конкретно отдают предпочтения критики

## Вопрос 3
**Критикам больше нравятся стрелялки или стратегии?**

In [8]:
shooter_strategy = games[(games['Genre'].isin(['Shooter', 'Strategy']))&(games['Critic_Score'].notnull() == True)][['Genre','Critic_Score']]
shooter_strategy

          Genre  Critic_Score
36      Shooter           9.3
40      Shooter           8.7
41      Shooter           8.8
43      Shooter           9.6
49      Shooter           9.5
...         ...           ...
52514  Strategy           6.1
52884  Strategy           7.0
54119   Shooter           7.4
54915  Strategy           8.3
55090   Shooter           7.2

[1212 rows x 2 columns]

H0: Критики одинаково относятся стрелялкам и стратегиям  
H1: У критиков есть предпочтения

Применяем двухсторонний двухвыборочный тест

In [9]:
result = (st.ttest_ind(shooter_strategy[shooter_strategy['Genre'] == 'Shooter']['Critic_Score'], 
                       shooter_strategy[shooter_strategy['Genre'] == 'Strategy']['Critic_Score'], 
                       equal_var = False))
print(result)

if (result.pvalue < alpha):
    
    if(result.statistic < 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают Strategy')
        
    elif(result.statistic > 0):
        print('Отвергаем нулевую гипотезу, критики предпочитают Shooter')
else:
    print('Не отвергаем нулевую гипотезу, критики однаково относятся к стрелялкам и стратегиям')

Ttest_indResult(statistic=-1.6073949711166526, pvalue=0.10838786414223071)
Не отвергаем нулевую гипотезу, критики однаково относятся к стрелялкам и стратегиям

**Вывод:** По statistic можно сказать, что есть перевес в пользу Стратегий, но он статистически не значимый, поэтому оставляем нулевую гипотезу, то есть критики однаково относятся к стрелялкам и стратегиям

# Задание 2

In [10]:
import glob
import re

In [11]:
spam = pd.read_csv('C:\\Users\\roman\\Learning\\PYDA13\\data\\spam.csv')

In [12]:
# Приводим текст к нижнему регистру
spam['Message'] = spam['Message'].apply(lambda x: x.lower())

spam['Str_len_1'] = spam['Message'].str.len()

In [13]:
# Удаляем мусорные символы
spam['Message'] = spam['Message'].apply(lambda x: re.sub('[\W_]+',' ', x))

spam['Str_len_2'] = spam['Message'].str.len()

In [14]:
# проверяем отработала ли наша функция
spam.describe()

         Str_len_1    Str_len_2
count  5572.000000  5572.000000
mean     80.368988    77.258256
std      59.926946    57.333533
min       2.000000     1.000000
25%      35.750000    34.000000
50%      61.000000    59.000000
75%     122.000000   117.000000
max     910.000000   908.000000

In [15]:
spam.head()

,Category,Message,Str_len_1,Str_len_2
0,ham,go until jurong point crazy available only in ...,111,103
1,ham,ok lar joking wif u oni,29,24
2,spam,free entry in 2 a wkly comp to win fa cup fina...,155,154
3,ham,u dun say so early hor u c already then say,49,44
4,ham,nah i don t think he goes to usf he lives arou...,61,60

Длинна стала меньше, следовательно, служебые символы удалились

In [16]:
# Разбиваем сообщение на список из слов
spam['Message'] = spam['Message'].apply(lambda x: x.split())

In [17]:
# Удаляем стоп слова
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))

In [18]:
# Функция, которая оставляет все, кроме стоп слов
def del_stop_words(message):
    new_message = []
    for word in message:
        if word not in stopwords_set:
            new_message += [word]
    return new_message

In [19]:
# Применяем функцию
spam['Message'] = spam['Message'].apply(del_stop_words)

In [20]:
# Приводим все слова к нормальной форме
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [21]:
# Функция для преведения слов к нормальной форме
def lemma(message):
    new_message = []
    for word in message:
        wordnet_lemmatizer.lemmatize(word)
        new_message += [word]
        
    return new_message

In [22]:
# Применим функцию
spam['Message'] = spam['Message'].apply(lemma)

In [23]:
# Удалим столбци, которые создавались для подсчета слов
del spam['Str_len_1']
del spam['Str_len_2']

In [24]:
# Для преобразования сообщений в вектора, нужно сначало сделать каждое сообщение строкой
# TfidfVectorizer работает только со строками
spam['Message'] = spam['Message'].apply(lambda x: ' '.join(x))

In [25]:
# Преобразуем сообщения в вектора

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(spam.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [26]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# Заменим категории цифрами для обучения нашей модели

spam['Category'] = spam['Category'].replace('ham', 0)
spam['Category'] = spam['Category'].replace('spam', 1)

In [28]:
spam

      Category                                            Message
0            0  go jurong point crazy available bugis n great ...
1            0                            ok lar joking wif u oni
2            1  free entry 2 wkly comp win fa cup final tkts 2...
3            0                u dun say early hor u c already say
4            0             nah think goes usf lives around though
...        ...                                                ...
5567         1  2nd time tried 2 contact u u 750 pound prize 2...
5568         0                        ü b going esplanade fr home
5569         0                              pity mood suggestions
5570         0  guy bitching acted like interested buying some...
5571         0                                     rofl true name

[5572 rows x 2 columns]

In [29]:
# Разбивам данные на тестовые и тренировочные и строим модель логистической регрессии 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [30]:
# Разбивам данные на тестовые и тренировочные
X = tfidf_matrix
y = spam['Category']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [32]:
# Строим модель логистической регрессии 
lr = LogisticRegression(random_state=42)  
lr.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [33]:
# Прогоням модель на тестовых данных
y_pred = lr.predict(X_test)

In [34]:
# Оцениваем результаты
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1445,    3],
       [  69,  155]], dtype=int64)

In [35]:
lr.score(X_test, y_test)

0.9569377990430622

**Описание результатов:** По confusion_matrix видим что модель ошиблась всего в 72 случаях(69+3), и с большой долей вероятности давала правильный результат

In [36]:
# Строим датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно

# Разбиваем точно также наш исходный датафрейм
y = spam
y_train, y_test_df = train_test_split(y, test_size=0.30, random_state=42)

In [37]:
# берем только сообщения, которые использовались для теста
result = y_test_df.copy()

In [38]:
result

      Category                                            Message
3245         0  squeeeeeze christmas hug u lik frndshp den hug...
944          0  also sorta blown couple times recently id rath...
1044         0  mmm thats better got roast b better drinks 2 g...
2484         0                mm kanji dont eat anything heavy ok
812          0  ring comes guys costumes gift future yowifes h...
...        ...                                                ...
2505         0  hello boytoy made home constant thought love h...
2525         1  free entry 250 weekly comp send word win 80086...
4975         0  aiyo u poor thing u dun wan 2 eat u bathe already
650          1  1 000 cash 2 000 prize claim call09050000327 c...
4463         0  sorry flaked last night shit seriously goin ro...

[1672 rows x 2 columns]

In [39]:
# вставляем предсказанные категории
result.insert(value = y_pred, column = 'pred', loc = 2)

In [40]:
# Заменяем числовые значения категорий на слова
result[['Category', 'pred']] = result[['Category', 'pred']].replace(0, 'ham')
result[['Category', 'pred']] = result[['Category', 'pred']].replace(1, 'spam')

In [41]:
# Получаем датафрейм, содержащий все исходные тексты сообщений, классифицированные неправильно
result[(result['Category'] != result['pred'])]

     Category                                            Message  pred
2952      ham                                      hey free call  spam
881      spam  reminder downloaded content already paid goto ...   ham
1961     spam  guess somebody know secretly fancies wanna fin...   ham
3864     spam  oh god found number glad text back xafter msgs...   ham
2575     spam  next amazing xxx picsfree1 video sent enjoy on...   ham
...       ...                                                ...   ...
4543     spam  freemsg hi baby wow got new cam moby wanna c h...   ham
752      spam    important customer service announcement premier   ham
309      spam  themob check newest selection content games to...   ham
495       ham                                          free call  spam
305      spam  sms ac blind date 4u rodds1 21 aberdeen united...   ham

[72 rows x 3 columns]